
<div class="lightbox-wrapper" id="portfolio" data-simplebar>
    <div class="container">
        <div class="lightbox-close">
            <div class="close-btn" data-modal-close=""><span class="btn-line"></span></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="lightbox-content">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading page-heading">
                        
                                <h2 class="section-title">Çalışmalarım</h2>
                                <div class="animated-bar"></div>
                            </div>
                        </div>
                    </div>
                
                    <div class="portfolio-section single-section">
                        <div class="row">
                   
                            <div class="col-12">
                                <ul class="list-inline filter-control" role="group" aria-label="Filter Control">
                                    <li class="list-inline-item tab-active" data-filter="*">All</li>
                                   @* <li class="list-inline-item" data-filter=".brand">Brand</li>
                                    <li class="list-inline-item" data-filter=".design">Design</li>
                                    <li class="list-inline-item" data-filter=".photos">Photos</li>*@
                                </ul>
                            </div>
                        </div>
                  
                        <div class="portfolio-grid row">
                      
                            <div class="single-item col-6 col-lg-4 design">
                                <a class="portfolio-item" href="~/Kitzu/img/item-1.jpg" data-lightbox>
                                    <div class="portfolio-wrapper">
                                        <img class="img-fluid" alt="Item" src="~/Kitzu/img/item-1.jpg">
                                       
                                    </div>
                                </a>
                            </div>
                  
                            <div class="single-item col-6 col-lg-4 photos">
                                <a class="portfolio-item" href="~/Kitzu/img/item-2.jpg" data-lightbox>
                                    <div class="portfolio-wrapper">
                                        <img class="img-fluid" alt="Item" src="~/Kitzu/img/item-2.jpg">
                                        
                                    </div>
                                </a>
                            </div>
                      
                            <div class="single-item col-6 col-lg-4 design">
                                <a class="portfolio-item" href="~/Kitzu/img/item-3.jpg" data-lightbox>
                                    <div class="portfolio-wrapper">
                                        <img class="img-fluid" alt="Item" src="~/Kitzu/img/item-3.jpg">
                                       
                                    </div>
                                </a>
                            </div>
                   
                            <div class="single-item col-6 col-lg-4 brand">
                                <a class="portfolio-item" href="~/Kitzu/img/item-4.jpg" data-lightbox>
                                    <div class="portfolio-wrapper">
                                        <img class="img-fluid" alt="Item" src="~/Kitzu/img/item-4.jpg">
                                        
                                    </div>
                                </a>
                            </div>
                   
                            <div class="single-item col-6 col-lg-4 brand">
                                <a class="portfolio-item" href="~/Kitzu/img/item-5.jpg" data-lightbox>
                                    <div class="portfolio-wrapper">
                                        <img class="img-fluid" alt="Item" src="~/Kitzu/img/item-5.jpg">
                                        
                                    </div>
                                </a>
                            </div>
                      
                            <div class="single-item col-6 col-lg-4 photos">
                                <a class="portfolio-item" href="~/Kitzu/img/item-6.jpg" data-lightbox>
                                    <div class="portfolio-wrapper">
                                        <img class="img-fluid" alt="Item" src="~/Kitzu/img/item-6.jpg">
                                       
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
