
<div class="demo-tool">
    <div class="tool-wrapper">
        <span class="tool-toggler"><i class="icon ion-md-settings"></i></span>
        <div class="tool-box">
            <ul class="list-inline single-block color-switcher">
                <li class="list-inline-item" style="background-color: #2c31ff;" data-path="~/Kitzu/css/colors/main-blueviolet.css"></li>
                <li class="list-inline-item" style="background-color: #3460D1;" data-path="~/Kitzu/css/colors/main-nightskyblue.css"></li>
                <li class="list-inline-item" style="background-color: #EE3158;" data-path="~/Kitzu/css/colors/main-redpink.css"></li>
                <li class="list-inline-item" style="background-color: #007bff;" data-path="~/Kitzu/css/colors/main-blue.css"></li>
                <li class="list-inline-item" style="background-color: #17a2b8;" data-path="~/Kitzu/css/colors/main-cyan.css"></li>
                <li class="list-inline-item" style="background-color: #3365b0;" data-path="~/Kitzu/css/colors/main-darkblue.css"></li>
                <li class="list-inline-item" style="background-color: #a435b7;" data-path="~/Kitzu/css/colors/main-darkmagenta.css"></li>
                <li class="list-inline-item" style="background-color: #c93e70;" data-path="~/Kitzu/css/colors/main-darkpink.css"></li>
                <li class="list-inline-item" style="background-color: #bf2a3d;" data-path="~/Kitzu/css/colors/main-darkred.css"></li>
                <li class="list-inline-item" style="background-color: #28a745;" data-path="~/Kitzu/css/colors/main-green.css"></li>
                <li class="list-inline-item" style="background-color: #6610f2;" data-path="~/Kitzu/css/colors/main-indigo.css"></li>
                <li class="list-inline-item" style="background-color: #fd7e14;" data-path="~/Kitzu/css/colors/main-orange.css"></li>
                <li class="list-inline-item" style="background-color: #e83e8c;" data-path="~/Kitzu/css/colors/main-pink.css"></li>
                <li class="list-inline-item" style="background-color: #6f42c1;" data-path="~/Kitzu/css/colors/main-purple.css"></li>
                <li class="list-inline-item" style="background-color: #dc3545;" data-path="~/Kitzu/css/colors/main-red.css"></li>
                <li class="list-inline-item" style="background-color: #20c997;" data-path="~/Kitzu/css/colors/main-teal.css"></li>
                <li class="list-inline-item" style="background-color: #333;" data-path="~/Kitzu/css/colors/main-dark.css"></li>
                <li class="list-inline-item" style="background-color: #78b230;" data-path="~/Kitzu/css/colors/main-yellowgreen.css"></li>
                <li class="list-inline-item" style="background-color: #E16F7C;" data-path="~/Kitzu/css/colors/main-tangopink.css"></li>
                <li class="list-inline-item" style="background-color: #6F73D2;" data-path="~/Kitzu/css/colors/main-moodyblue.css"></li>
                <li class="list-inline-item" style="background-color: #664C43;" data-path="~/Kitzu/css/colors/main-brown.css"></li>
                <li class="list-inline-item" style="background-color: #4770D9;" data-path="~/Kitzu/css/colors/main-royalblue.css"></li>
                <li class="list-inline-item" style="background-color: #ffb100;" data-path="~/Kitzu/css/colors/main-darkyellow.css"></li>
            </ul>

        </div>
    </div>
</div>

<script src="~/Kitzu/js/jquery.min.js"></script>
<script src="~/Kitzu/js/bootstrap.bundle.min.js"></script>
<script src="~/Kitzu/js/imagesloaded.pkgd.min.js"></script>
<script src="~/Kitzu/js/isotope.pkgd.min.js"></script>
<script src="~/Kitzu/js/animatedModal.js"></script>
<script src="~/Kitzu/js/tiny-slider.js"></script>
<script src="~/Kitzu/js/lity.min.js"></script>
<script src="~/Kitzu/js/simplebar.min.js"></script>
<script src="~/Kitzu/js/jquery.mb.YTPlayer.min.js"></script>
<script src="~/Kitzu/js/main.js"></script>

<script src="~/Kitzu/js/custom.js"></script>

<script src="~/Kitzu/customizer/main.js"></script>